/*-------------------------
	Simple reset
--------------------------*/


*{
	margin:0;
	padding:0;
	box-sizing: border-box;
}


/*-------------------------
	General Styles
--------------------------*/
html,body{
    background: url("../img/background.jpg") center center no-repeat;
    background-size: cover;
    height: 100vh;
    box-shadow: inset 0 0 0 2000px rgba(0, 0, 0, 0.685);
    overflow: hidden;
 } 




/*----------------------------
	Main Section
-----------------------------*/

#note{
	color: #666666;
	font-size: 12px;
	margin: 0 auto;
	padding: 4px;
	text-align: center;
	text-shadow: 1px 1px 0 rgba(255, 255, 255, 0.3);
	width: 400px;
}

#logo img {
    padding-top: 20px;
    width: 30%;
}

#intro p {
    color: #FCF4DD;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-size: 3.5em;
    letter-spacing: 5px;
    padding-top: 20px;
}

/* #counter .countdown {
    text-align: center;
    color: #FCF4DD;
    font-family: 'Almendra', serif;
    font-size: 3em;
    margin: -10px 0 0 0;
} */

#icons {
    text-align: center;
}

#icons .fab {
    color: white;
    margin: 10px 20px 0;
    position: relative;
    bottom: 0;
    transition: all 0.2s ease-in-out;
}

#icons .twitter:hover {
    color: #6cadde;
    bottom: 5px;
}

#icons .facebook:hover {
    color: #3b5998;
    bottom: 5px;
}

#icons .instagram:hover {
    color: #ea4335;
    bottom: 5px;
}

#signup {
    text-align: center;
    margin: 5px;
}

#signup .form-inline {
    display: block;
}

#signup .btn {
    background-color: rgba(161, 186, 226, 0.5);
    color: white;
    margin-top: 5px;
}

#signup .btn:hover {
    background-color: rgba(227, 18, 18, 1)
}

@media(max-width:768px) {

    #logo img {
        width: 30%;
        /* height: 50%; */
    }

    #intro p {
        font-size: 2.5em;
    }

    #counter .countdown {
        font-size: 1em;
    }

    #icons .fa {
        margin: 10px 0 0;
        font-size: 1em;
    }
}

@media(min-width:321px) and (max-width:568px) {

    #logo img {
        width: 50%;
    }

    #intro p {
        font-size: 2.5em;
    }
}